<style>
.banner {
    width: 100%;
    height: 120px;
    background-color: black;
    display: flex;
}

.banner .english {
    position: absolute;
    left: 76px;
    color: white;
    padding-left: 10px;
    text-align: left;
}

.banner .marathi {
    position: absolute;
    right: 2px;
    margin-top: 40px;
    padding-right: 20px;
    text-align: right;
    font-size: 20px;
    color: white;
}

.banner .img {
    float: left
}
</style>
<header class="banner">
    <div class="img">
        <img src="https://img.collegepravesh.com/2016/01/VJTI-Mumbai-Logo.png" class="logo" style="width: 75px;">
    </div>.
    <div class="english">
        <h3> <b>VJTI Mumbai</b></h3>
        <h4>Veermata Jijabai Technological Institute</h4>
        <p>Erstwhile - Victoria Jubilee Technical Institute (estd. 1887)</p>
    </div>
    <div class="marathi">
        <p>वीरमाता जिजाबाई टेक्नॉलॉजीकल इंस्टिट्यूट, मुंबई </p>
    </div>
</header>