<% layout('layouts/boilerplate')%>
<h1 class="col-6 offset-3 text-center">Bills</h1>
<ul>
         <% for(let s of students ){%>
            <div class="card" mg-3>
                <div class="row">
                    <div class="col-md-8">
                        <div class="card-body">
                            <h3 class="card-title">Name: <%=s.name%></h3>
                            <p class="card-text">Reg. No.:<%=s.regNo %></p>
                            <p class="card-text">
                                <small class="text-muted">Contact No.<%=s.contactNo %></small></p>
                                <div class="card-text mb-3">Total: <%=s.monthlyTotal %></div>
                        </div>
                    </div>
                </div>
            </div>
             <%}%>
</ul>