<% layout('layouts/userBoilerplate') %>
<style>
    .content{
        background-image: url("https://mitsjadan.ac.in/images/hostel&mess/mess1.jpg");
        background-repeat: no-repeat;
        background-size: 900px 200px;
        margin-left: 100px;
        margin-top: 10px;
    }
    .welcome{
        background: rgba(255, 255, 255, 0.4);
        width: 900px;
        height: 200px;
    }
    .message{
        font-family: 'Times New Roman', Times, serif;
        font-size: 36px;
        margin-left: 90px;
    }
    .card{
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;

    }
    .bi{
        font-size: 18px;
    }
</style>

<div class="content">
    <div class="welcome">
        <h3 class="message">WELCOME TO VJTI HOSTEL MESS PORTAL</h3>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card text-center">
        <div class="card-body">
          <h3 class="card-title"><strong>View History</strong></h3>
          <p class="card-text">See your monthly records</p>
          <a href="/students/history" class="btn btn-primary"><i class="bi bi-clock-history"></i>  History</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card text-center">
        <div class="card-body">
          <h3 class="card-title"><strong>Make Payment</strong></h3>
          <p class="card-text">Pay your mess deposit fess here</p>
          <a href="https://www.onlinesbi.sbi/sbicollect/icollecthome.htm" class="btn btn-primary"><i class="bi bi-wallet2"></i>  Payment</a>
        </div>
      </div>
    </div>
</div>


