<% layout('layouts/boilerplate') %>
    <style>
      #content{
        background-color: rgba(255, 255, 255, 0.6);
        width: 700px;
        height: 200px;
        border-radius: 10px;
      }
        #welcome{
        text-align: center;
        font-size: 63px;
        padding-bottom: 27px;
        font-family: Georgia, 'Times New Roman', Times, serif;
       }
       .btn{
          background-color: #2D09AB;
          color: white;
       }
     </style>  
     <div id="content" class="box-form position-absolute top-50 start-50 translate-middle">      
       <div id="welcome">
        <h1>Welcome!<br>VJTI Hostel Mess Portal</h1>
       </div>
    <div style="text-align: center;;">
        <a href="/students/login" class="btn btn-lg" style="height: 45px;">Login</a>
        <a href="/students/register" class="btn btn-lg" style="height: 45px;">Register</a>
    </div>
  </div>
