<% layout('layouts/boilerplate')%>
<style>
    .container {
  max-width: 700px;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  padding: 25px 30px;
  border-radius: 5px;
}
.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.container .title::before {
  content: "";
  position: absolute;
  height: 3.5px;
  width: 30px;
  background: linear-gradient(135deg, var(--main-blue), var(--main-purple));
  left: 0;
  bottom: 0;
}

.container form .user__details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
/* inside the form user details */
form .user__details .input__box {
  width: calc(100% / 2 - 20px);
  margin-bottom: 15px;
}

.user__details .input__box .details {
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}
.user__details .input__box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid var(--main-grey);
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user__details .input__box input:focus,
.user__details .input__box input:valid {
  border-color: var(--main-purple);
}
form .button {
  height: 45px;
  margin: 45px 0;
}

</style>

<div class="container">
    <div class="title" style="text-align: center; font-family: 'Times New Roman', Times, serif;">Registration</div>
    <form action="/students/register" method="POST">
      <div class="user__details">
        <div class="input__box">
            <label class="form-label" for="name">Name</label>
            <input class="form-control" type="text" id="name" placeholder="Enter your name" name="username" required>
        </div>
        <div class="input__box">
            <label class="form-label" for="regno">Registration Number</label>
            <input class="form-control" type="text" id="regno" placeholder="Enter your registration number" name="regNo" required>
        </div>
        <div class="input__box">
            <label class="form-label" for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Enter your VJTI e-mail ID" name="email" required>
        </div>
        <div class="input__box">
            <label class="form-label" for="contactNo">Contact Number</label>
            <input class="form-control" type="text" id="contactNo" placeholder="Enter your contact number" name="contactNo" required>
        </div>
        <div class="input__box">
            <label class="form-label" for="gender">Gender</label>
                <input class="form-control" type="text" id="gender" placeholder="Enter your gender" name="gender" required>
        </div>
        <div class="input__box">
            <label class="form-label" for="year">Year</label>
                <input class="form-control" type="text" id="year" placeholder="Enter your year of study" name="year" required>
        </div>
        <div class="input__box">
            <div class="input-group-text">
            <span class="input-group-text" id="price-label"><i class="bi bi-currency-rupee"></i></span>
            <input type="number" class="form-control" id="price" placeholder="Enter deposit amount" aria-label="Price" aria-describedby="price-label" name="depositAmount" required>
            </div>
        </div>
        <div class="input__box">
            <label class="form-label" for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Enter your password" name="password" required>
        </div>  
      </div>
      <div class="button">
            <button class="btn btn-success">Register</button>
      </div>
    </form>
  </div>