<%- layout('layouts/boilerplate') %> 
<h1 class="text-center">Payment History</h1>
<div class="col-6">
    <div class="card mb-3">
        <div class="card-body">
        <h5 class="card-title"><%= student.name %></h5>
        </div>
        <% for(record in student.records) { %> 
        <ul class="list-group list-group-flush">           
        <li class="list-group-item"><%= record.month %>:<%= record.amount %> </li>        
        </ul>
        <% } %> 
        <div class="card-body">        
    </div>
</div>