<% layout('layouts/adminBoilerplate') %>
<style>
    .wrapper {
    margin-left:75%;
    margin-top: 1%;  
    }
    #search-container {
    margin: 0.5em 0;
    }
    #search-container input {
    background-color: transparent;
    width: 35vh;
    height: 40px;
    border-radius: 5px;
    border-bottom: 2px solid #110f29;
    padding: 0.7em 0.3em;
    }
    #search-container input:focus {
    border-bottom-color: #6759ff;
    }
</style>
<br>
<div>
    <a href="/admin/home" class="btn btn-outline-primary"><i class="bi bi-house-fill"></i>  Home</a>
</div>
<br>
<% if (students.length !== 0) { %>
    <div class="wrapper">
        <div id="search-container">
            <input
              type="search"
              id="search-input"
              placeholder="Search"
            onkeyup="searchfun()">
        </div>
    </div>
<% } %>
<br>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <i class="bi bi-person-add"></i>  Add Student
</button>
<br>
<div class="modal fade position-absolute top-50 start-50 translate-middle" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add Student</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/admin/addStudent" method="post">
            <div class="col-sm-10">
                <input type="number" class="form-control" placeholder="Enter reg. number" id="regid" name="regid">
            </div>                         
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary mb-3">Add</button>
        </div>
        </form> 
      </div>
    </div>
  </div>
<br>
<% if (students.length === 0) { %>
    <div style="text-align: center;">
        <p style="font-family: 'Times New Roman', Times, serif; font-size: 45px;">NO STUDENTS IN MESS CURRENTLY</p>
    </div>
<% } %>
<div class="row">
<% for(let s of students) { %>
    <div class="col-6 mb-2">
    <div class="card text-center" style="width: 500px;">            
                <div class="card-body">
                     <h4><strong><%= s.username %></strong></h4>
                     <p><%= s.regNo %></p>
                     <form action="/admin/<%= s._id %>/checkout" method="post">
                        <label for="guests" style="float: left;">No.of Guests:<span></span></label>
                        <input type="number" class="form-control" style="width: 60px; overflow: hidden;" id="guests" value=0 name="guests">  
                        <label for="add" style="float: left;">Additional Charges:<span></span></label>      
                        <input type="number" class="form-control" style="width: 60px; overflow: hidden;" id="add" value=0 name="additionalCharges">
                        <button type="submit" class="btn btn-success">Checkout</button>
                    </form>
                </div>
            </div>
        </div>
        <% } %>
</div>

<script>
    const searchfun=()=>{
        let filter = document.getElementById('search-input').value.toUpperCase();
        let Allstudents = document.getElementById('AllStudents');
        let stud = Allstudents.getElementsByClassName('tr');
        
        for(var i=0; i<stud.length; i++){
            let name = stud[i].firstElementChild.innerText;
            if(name.toUpperCase().indexOf(filter)>-1){
               stud[i].style.display="";
            }else{
              stud[i].style.display="none";
            }
        }
    }
</script>